*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url('../images/download.jpg');
	color: white;
}
.menubar{
			float: right;
		}
.loginzone{
	border: 2px solid white;
	border-radius: 12%;
	float: right;
	margin-top: 50px;
	padding-right: 20px;
		}
button{
	width: 100px;
	border-radius: 20%;
	background-color: transparent;
	color:white;
	}
input{
	border-radius: 10%;
	background-color: black;
	color:white;
}
.ques a{
	color:white;
	text-decoration: none;
}